@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Playfair+Display:wght@400;600&display=swap");

.navbar {
  height: 4rem;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 20px 40px;
  display: flex;
  gap: 3rem;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .brand-logo {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: var(--color2);
  }

  .brand-slogan {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 3px;
    color: var(--color4-dark);
    text-transform: uppercase;
    margin-top: 5px;
  }

  /* Soft touch contrast */
  .brand-logo span {
    font-weight: 300;
    opacity: 0.9;
  }
  .menace-navitems{
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: var(--color4-dark) !important;
    padding: 0;
    margin: 0;
  }
}
.navstrip {
  height: 1.5rem;
  background-color: var(--color3-dark);
}

.bottom-strip {
  height: 1.5rem;
  background-color: var(--color3-dark);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
