.navstrip {
    height: 1.5rem;
    background-color: var(--color3-dark);
  }
  
  .navbar {
    height: 4rem;
    border-bottom: 1px solid rgb(232, 232, 232);
  }
  
  .bottom-strip {
    height: 1.5rem;
    background-color: var(--color3-dark);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  